:root {

    --black:#343a40;;
    --white:  #f1f1f1;

}

body {
    font-family: "Lato", sans-serif;
    background-color: #eaeaeb;
 }

.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:var(--black);
  overflow-x: hidden;
  padding-top: 80px;
}

.sidebar a {
  padding: 40px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:var(--white);
  display: block;
 
}

.sidebar a:hover {
  color: rgba(255, 255, 255, 0.596);
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 15%;
    overflow: hidden;
    background-color:var(--black);
    position: fixed;
    top: 0;
    width: 85%;
    height: 10%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: var(--black);
  }
  
  .search {
    margin-left: 60%;
    padding-top: 2%;
  }

  .search input {
    height: 80%;
  }

  .user-icon{
    margin-left: 95%;
  }


  /* styling the dashboard body */
/* 
  .dashboard-container{
    background-color: #bcbdbe;
    margin-top: 1em;
  } */



  
.user-overview{
    margin-left: 10em;
    margin-top: 10em;
   
}

.user-overview h3{
    margin-left: 4.5em;  
   
}


.user-overview p{
    margin-left: 5em;  
   
}

.user-numbers{
    display: flex;
    margin-left: 5em;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}

.user-card{
    border: 2px solid white;
    text-align: left;    
    padding: 2.5em 3em;
    margin: 2em 1em;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(196, 194, 194) 0px 5px 15px;
}

.user-card p{
    display: inline;
}

.open-button{
    padding: 1em 2em;
    margin: 1em;
    background-color: black;
    border: 0px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.open-button:hover{
    background-color: #07a04c;
 
}
.open-button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}



/* styling list of users section */

.user-list{
    margin-left: 15em;
}

table, td, th {
    border-bottom: 1px solid #dfe0e0;
  }

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: #eaeaeb 0px 5px 15px;
  }

th {
    height: 70px;
 }

 tr{
  height: 60px;
  transition: 0.5s;
  cursor: pointer;
  /* padding-left: 1em; */
 }

 tr:hover {
  background-color: #dfe0e0;
 }
 

.btn-active{
  border: 1px solid #c8caca;
  background-color: #c8caca;
  padding: 0.45em 1em;
  border-radius: 8px;
  color: #07a04c;
}

.btn-inactive {
  border: 1px solid #c8caca;
  background-color: #c8caca;
  padding: 0.45em 1em;
  border-radius: 8px;
  color: #f91706;
}



/* styling the user creation form */




/* Button used to open the contact form - fixed at the bottom of the page */
/* .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
} */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}